<div class="user-profile">
  <div class="profile row">
    <div class="col-md-4 avatar">
      <div class="wrapper">
        <% if @user.avatar.attached? %>
          <%= image_tag @user.avatar %>
        <%end %>
      </div>
    </div>

    <div class="col-md-8 basic-info">
      <div class="user-wrapper">
        <h2 class="username"><%= @user.username %></h2>
        <% if current_user.id == @user.id%>
        <a class="edit-profile" href="<%= edit_user_path(current_user) %>">
          <button><%= t('profile.edit_profile') %></button>
        </a>
          <% end %>
      </div>
      <ul class="posts">
        <li><span><%= @posts.count %></span> <%= t('profile.post') %></li>
        <li><span>195</span> <%= t('profile.followers') %></li>
        <li><span>345</span> <%= t('profile.following') %></li>
      </ul>
      <h2 class="name"><%= @user.name %></h2>
      <a class="website"><%= @user.website %></a>
    </div>
  </div>
</div>

<div class="user-images">
  <% @posts.each do |post|%>
    <div class="wrapper">
      <%=link_to post_path(post) do %>
        <%=image_tag post.image %>
      <% end %>
    </div>
  <% end %>
</div>