<!DOCTYPE html>
<html>
  <head>
    <title><%= Rails.configuration.site_name %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <!--Navigation Bar-->
  <nav class="navbar navbar-light bg-light d-flex">
    <div class="container">
      <div class="logo">
        <a class="navbar-brand text-uppercase font-weight-bold" href="<%= root_url %>">
          <%= Rails.configuration.site_name %>
        </a>
      </div>
      <div class="m-auto">
        <%= form_with url: search_path, method: :get, local: true, class: 'form-inline search-form' do |form| %>
          <%= form.text_field :query, value: params[:query], class: 'form-control mr-sm-2', placeholder: t('search.placeholder') %>
        <% end %>
      </div>
      <div class="user-section">
        <a><i class="fa fa-compass"></i></a>
        <a><i class="fa fa-heart"></i></a>
          <a href="<%= user_path(current_user)%>">
            <!--<%= current_user.username %>-->
            <i class="fa fa-user"></i>
          </a>
      </div>
    </div>
  </nav>

  <!--Main content-->
  <main class="container">
    <% if notice %>
    <div class="alert alert-success" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <%= notice %>
    </div>
      <% end %>
    <% if alert %>
    <div class="alert alert-danger" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <%= alert %>
    </div>
      <% end %>
    <%= yield %>
  </main>

  <!--Footer-->
  <footer class="container footer">
    <p class="text-center">
      <% if I18n.locale == I18n.default_locale %>
        <%= link_to "English", { :locale=>'en' } %>

      <% else %>
        <%= link_to "Magyar", { :locale=>'hu' } %>

      <%end%>
    </p>
    <p class="text-center">&copy; <%= Date.today.year %> <%= Rails.configuration.site_name %></p>
  </footer>
  </body>
</html>
