<!DOCTYPE html>
<html>
<head>
  <title>Kotprog</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<!--Main content-->
<main class="container h-full">
  <% if notice %>
    <div class="alert alert-success" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <%= notice %>
    </div>
  <% end %>
  <% if alert %>
    <div class="alert alert-danger" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <%= alert %>
    </div>
  <% end %>
  <div class="row justify-content-center">
    <div class="col">
      <%= yield %>
    </div>
  </div>

</main>

<!--Footer-->
<footer class="container footer">
  <p class="text-center">
    <% if I18n.locale == I18n.default_locale %>
      <%= link_to "English", { :locale=>'en' } %>

    <% else %>
      <%= link_to "Magyar", { :locale=>'hu' } %>

    <%end%>
  </p>
  <p class="text-center">&copy; <%= Date.today.year %> <%= Rails.configuration.site_name %></p>
</footer>
</body>
</html>
